%div.attacker
  %p
    %b Name
    &= attacker.pilot.name
  %p
    %b Corporation
    &= attacker.corporation.name
  %p
    %b Alliance
    &= attacker.alliance.name
  %p
    %b Damage Done
    &= attacker.damage_done
