%div.attacker
  - if attacker.pilot then
    %p
      %b Name
      &= attacker.pilot.name
  %p
    %b Corporation
    &= attacker.corporation.name
  - if attacker.alliance then
    %p
      %b Alliance
      &= attacker.alliance.name
  %p
    %b Damage Done
    &= attacker.damage_done
